<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="theme/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="theme/css/my.css" />
    <title>MyNotes</title>
  </head>

  <body>

    <div id="container" class="container">
      <div class="row">
        <header class="col-md-3">
          <div class="logo">
            <span class="visiable-xs">MyNotes</span>
          </div>
			<div class="search-input">
			    <input type="text" id="searchText" v-model="searchText" @keyup.enter="search" placeholder="请输入搜索内容" />
			    <input type="button" id="search" @click="search" value="搜 索" />
			</div>
          <div class="header-nav">
            <ul class="clearfix">
              <li><a id="lastest" href="#" class="glyphicon glyphicon-camera" @click="changeCate">最近</a></li>
              <li><a id="distributed" href="#" class="glyphicon glyphicon-camera" @click="changeCate">分布式</a></li>
              <li><a id="architecture" href="#" class="glyphicon glyphicon-camera" @click="changeCate">架构</a></li>
              <li><a id="database" href="#" class="glyphicon glyphicon-camera" @click="changeCate">数据库</a></li>
              <li><a id="Coding" href="#" class="glyphicon glyphicon-camera" @click="changeCate">编程</a></li>
              <li><a id="operation" href="#" class="glyphicon glyphicon-camera" @click="changeCate">运维</a></li>
              <li><a id="misc" href="#" class="glyphicon glyphicon-camera" @click="changeCate">综合</a></li>
              <li><a id="product" href="#" class="glyphicon glyphicon-camera" @click="changeCate">产品</a></li>
              <li><a id="management" href="#" class="glyphicon glyphicon-camera" @click="changeCate">管理</a></li>
            </ul>
          </div>
        </header>
        <article class="col-md-9">
          <div class="publish">
            
            <div class="row col-md-12" v-for="art in articles">
              <h3><a :href="category + art.substring(0, art.length-2) + 'html'">{{art}}</a></h3>
              <p class="text-muted"></p>
            </div>
            
          </div>
        </article>
      </div>
    </div>
	
    <!--<script src="https://unpkg.com/vue@3.1.2/dist/vue.global.prod.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="theme/js/axios.min.js"></script>

    <script type="text/javascript">
      const Markdown = {
	    el: "#container",
        data() {
          return {
            md_cache: {},
            md_index: {},
            category: "",
            articles: [],
            searchText: ""
          };
        },
        methods: {
          changeCate(event) {
	          if (event.target.id === "lastest"){
		          this.category = "";
	          } else {
		          this.category = event.target.id + "/";
	          }
	          this.articles = this.md_index[event.target.id];
	          //console.log(this.articles)
          },
          search(event) {
	          if (!this.searchText){
		          return;
	          }
	          
		      this.category = "";
		      this.articles = [];
		      for (var key in this.md_cache) {
			      if (this.md_cache[key].includes(this.searchText.toLowerCase())){
				      this.articles.push(key);
			      }
		      }
          }
        },
        mounted() {
			axios.get("md_index.json")
              .then((response) => {
                this.md_index = response.data;
                //console.log(this.md_index);
                this.articles = this.md_index['lastest'];
              })
              .catch((error) => {
                console.log(error);
              });
			axios.get("md_cache.json", { responseType: 'blob'})
              .then((response) => {
				var reader = new FileReader();
				reader.that = this;
				reader.onload = function(e) {
				 	var md_json = JSON.parse(reader.result);
				 	for (var key in md_json) {
					 	md_json[key] = md_json[key].toLowerCase()
				 	}
				 	this.that.md_cache = md_json;
				 	return md_json;
				};
				reader.readAsText(response.data, "GBK");
              })
              .catch((error) => {
                console.log(error);
              });
	    },
      };

    // Vue.createApp(Markdown).mount("#container");
    var app = new Vue(Markdown);
    
    </script>
  </body>
</html>
